.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #222;
}

.todo-item.completed {
    text-decoration: line-through;
    color: #999;
}

.empty {
    text-align: center;
    color: #777;
    font-style: italic;
}